<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li *ngFor="let city of cities">
    <a (click)="showCity(city.id)">{{city.name}}</a>
  </li>
</ul>

<button (click)="enableAdd()">Add New City</button>
<div *ngIf="city">
  <ul>
    <li>Name: {{city.name}}</li>
    <li>Population: {{city.population}}</li>
    <li>Size: {{city.size}}</li>
  </ul>
  Districts:
  <ul>
    <li *ngFor="let district of city.districts">{{district.name}}</li>
  </ul>
</div>

<div *ngIf="addNew">
  <form (submit)="submit()">
    <div>
      <input type="text" [(ngModel)]="newCity.name" name="name" placeholder="name">
    </div>
    <div>
      <input type="number" [(ngModel)]="newCity.population" name="population" placeholder="population">
    </div>
    <div>
      <input type="number" [(ngModel)]="newCity.size" name="size" placeholder="size">
    </div>
    <button type="submit">OK</button>
  </form>
</div>